<!DOCTYPE html>
<html>

    <head>
        <title>ShakeUS API Docs</title>
        <meta charset="utf-8">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        <link
        rel="stylesheet" href="css/index.css"> <!-- Pretty Code Snippets -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
    </head>

    <body>
        <div id="pageContainer">
            <h1 id="pageTitle">ShakeUs Backend Documentation</h1>
            
            <h2>Examples</h2>

            <h3>1) Create Party</h3>
            <span id="default-activity-pack">
                <b>Available Activity Pack:</b>
            </span><br>

            {% include "./sections/examples/create-party.html" %}
            

            <!-- Page section imports -->
            {% include "./sections/party-endpoints.html" %}
            {% include "./sections/guest-endpoints.html" %}
            {% include "./sections/activity-endpoints.html" %}
            {% include "./sections/activity-pack-endpoints.html" %}
        </div>

        <!-- Include Scripts -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="./scripts/index.js"></script>
        

        <!-- Pretty Code Snippets -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <script>
            hljs.highlightAll();
        </script>
    </body>

</html>