body {
    padding: 0;
    margin: 0;
}

#pageContainer {
    width: calc(100% - 350px);
    background-color: white;
    min-height: 100vh;
    padding: 25px;
    margin-left: 300px;
}

#pageTitle {
    text-align: center;
    margin: 35px auto;
}
