<!DOCTYPE html>
<html>

<head>
    <title>ShakeUS Dummy Client</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <div id="pageContainer">
        <h1 id="pageTitle">ShakeUs Backend Documentation</h1>
        
        <!-- Page section imports -->
        {% include "./sections/section1.html" %}

        <button id="TestButton">TestButton</button>
    
        <!-- Include Scripts -->
        {% include "./scripts/socket-test.html" %}
    </div>
</body>

</html>