<!DOCTYPE html>
<html>

<head>
    <title>ShakeUS Dummy Client</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">

    <!-- Pretty Code Snippets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
</head>

<body>

    <div id="pageContainer">
        <h1 id="pageTitle">ShakeUs Backend Documentation</h1>
        
        <!-- Page section imports -->
        {% include "./sections/party-endpoints.html" %}
        {% include "./sections/guest-endpoints.html" %}
        {% include "./sections/activity-endpoints.html" %}
    
        
    </div>

    <!-- Include Scripts -->
    {% include "./scripts/socket-test.html" %}

    <!-- Pretty Code Snippets -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>