<!DOCTYPE html>
<html>

<head>
    <title>ShakeUS Dummy Client</title>
    <meta charset="utf-8">
</head>

<body>

    <h1>Test</h1>

    <!-- Page section imports -->
    {% include "./sections/test.html" %}

    <!-- Include Scripts -->
    {% include "./scripts/socket-test.html" %}
</body>

</html>